body {
  margin: 0 auto;
  font-size: 14px;
  line-height: 180%;
  color: #999;
  min-width: 320px;
  max-width: 640px;
  background: #eef2f3;
}

/*多分辨率设定rem设定*/
html { font-size : 20px; }
@media only screen and (max-width: 310px) and (min-width: 300px) {html { font-size: 20px !important; }}
@media only screen and (max-width: 320px) and (min-width: 310px) {html { font-size: 20px !important; }}
/*Note3*/
@media only screen and (min-width: 360px) {html { font-size: 22px !important; }}
/*iPhone6*/
@media only screen and (min-width: 376px) {html { font-size: 23px !important; }}
/*iPhone6 plus*/
@media only screen and (min-width: 414px) {html { font-size: 24px !important; }}
/*big Resolution*/
@media only screen and (min-width: 641px) {html { font-size: 25px !important; }}
/*公共样式*/
html *{ -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
img { vertical-align: top; border: 0; }
input, textarea { -webkit-user-select: text; -ms-user-select: text; user-select: text; -webkit-appearance: none; }
input:focus, select:focus, textarea:focus, button:focus { outline: 0; }
input[type="text"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], input[type="email"], input[type="url"], textarea { -webkit-appearance: none; -webkit-border-radius: 0; border-radius: 0; }
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance:none;
}
input[type="checkbox"] { border: 0; }
/*iphone手机的input的样式问题*/
input, button { -webkit-appearance: none; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;}
table { border-collapse: collapse; border-spacing: 0 }
a { text-decoration: none; -webkit-touch-callout: none; }
em, i { font-style: normal; }
ul { margin: 0px; padding: 0px; }
li { list-style: none; }
html, body { height: 100%; font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, "Microsoft YaHei", Heiti, SimSun, sans-serif; -webkit-font-smoothing: antialiased; font-style: normal; }
a.react, label.react { display: block; color: inherit; height: 100%; }
a.react{display: -webkit-box !important;display: box !important;position: relative;margin-left: 10px; line-height: 1.25rem; }
.space { display: inline-block; width: 12px; }
.single-line { display:block;position: relative;-webkit-box-flex: 1;box-flex: 1; overflow: hidden;color: #fff; }
/*css初始值*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; border: 0; outline: none;}
body { margin: 0 auto; font-size: 14px; line-height: 180%; color: #999; min-width: 320px; max-width:640px;background: #eef2f3; }
body.visibly { position: fixed; left: 0; top: 0; right: 0; margin: auto; width: 100%; z-index: 1; height: 100%; overflow: hidden;}
img { border: 0px }
a { color: #999; text-decoration: none;  blr: expression(this.onFocus=this.blur()); outline: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a:active { star: expression_r(this.onFocus=this.blur());}
a:hover { text-decoration: none;cursor: pointer}
a:focus, input[type=button] ,input[type=submit] { outline: none; }
input[type=button] ,input[type=submit]{ -webkit-appearance: none;}
input[type=number] { -moz-appearance: textfield; }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;}
.main { width: 100%; overflow: hidden; margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; empty-cells: show; font-size: 14px }
fieldset, img { border: 0 }
cite, em, s, i, b { font-style: normal }
body, input, button, textarea, select, option { font-family: PingFang SC,Arial,Helvetica,STHeiti STXihei,Microsoft YaHei,Tohoma,sans-serif;}
a, input, textarea { text-decoration: none; outline: 0 }
li, img, label, input { vertical-align: middle }
var { font-style: normal }
ins { text-decoration: none }

/*input 字体颜色*/
input::-webkit-input-placeholder {color:#999;}
input:-moz-placeholder {color:#999;}

.hide {
  display: none;
}

header {
  position: relative;
  width: 100%;
  background: #fff;
  top: 0;
  z-index: 23;
  max-width: 640px;
  min-width: 320px;
  transition: transform .6s ease 0s;
}

header:before {
  height: 1px;
  content: '';
  width: 100%;
  border-top: 1px solid #e3e5e9;
  position: absolute;
  bottom: -1px;
  right: 0;
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
  z-index: 100;
}

.header-middle {
  width: 90%;
  float: none;
  display: flex;
  padding-top: 0;
  margin: auto;
  height: 2.05rem;
  align-items: center;
}

.header-middle input {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  flex: 1;
  border-radius: 0;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  height: 1.3rem;
  background: none;
  border: 0;
  font-size: .6rem;
  line-height: 1.3rem;
  color: #666;
  text-indent: 34px;
  background: #f4f4f4;
  border-radius: 20px;
}

.container {
  background: #fff;
}

.container .new-goods-con-left {
  width: 25%;
  background-color: #f4f4f4;
  overflow-y: scroll;
  top: 2.05rem;
  bottom: 2.2rem;
  position: fixed;
  left: 0;
}

.container .new-goods-con-left li {
  width: 100%;
  height: 2.1rem;
  line-height: 2.1rem;
  background-color: #f4f4f4;
  font-size: .6rem;
  text-align: center;
  color: #666;
  position: relative;
}

.container .new-goods-con-left li.current {
  background: #fff;
  color: #f56455;
}

.container .new-goods-con-right {
  width: 75%;
  -webkit-overflow-scrolling: touch;
  bottom: 0;
  top: 2.05rem;
  position: fixed;
  left: 25%;
  overflow-y: scroll;
  background: #fff;
  z-index: 20;
}

.container .new-goods-con-right li.item {
  display: flex;
  padding: .7rem .2rem;
}

.container .new-goods-con-right li.item .item-pic {
  width: 4rem;
  height: 4rem;
}

.container .new-goods-con-right li.item img {
  width: 100%;
}

.container .new-goods-con-right li.item .item-info {
  position: relative;
  box-flex: 1;
  width: 100%;
  display: block;
  margin-left: 5px;
  height: 4rem;
}

.container .new-goods-con-right li.item .item-info .goods-name {
  font-size: 0.6rem;
  line-height: 0.9rem;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.container .new-goods-con-right li.item .item-info .item-price {
  display: block;
  height: 1rem;
  line-height: 1rem;
  overflow: hidden;
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
  color: #f56456;
}

.container .new-goods-con-right li.item .item-info .cat-box {
  display: block;
  min-width: 85px;
  text-align: right;
  position: absolute;
  right: 5px;
  bottom: 0;
  z-index: 2;
  height: 22px;
}

.container .new-goods-con-right li.item .item-info .cat-box .increase {
  background: #f56456;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  text-align: center;
  font-size: .8rem;
  color: #fff;
  line-height: 1rem;
}

.container .new-goods-con-right li.item .item-info .cat-box .decrease {
  border: 1px solid #f56456;
  border-radius: 50%;
  width: .9rem;
  height: .9rem;
  display: inline-block;
  text-align: center;
  font-size: .8rem;
  color: #f56456;
  line-height: .9rem;
}

.container .new-goods-con-right li.item .item-info .cat-box input {
  opacity: 1;
  background-color: #fff;
  width: 34px;
  height: 1rem;
  line-height: 1rem;
  box-sizing: border-box;
  border: none !important;
  text-align: center;
  vertical-align: top;
  font-size: 0.65rem;
  color: #333;
}
